.ruleinput.sensor {
	width: 32%;
	margin-right: 3%;
}

.ruleinput.operator {
	width: 13%;
	margin-right: 3%;
}

.ruleinput.value {
	width: 16%;
	margin-right:3%;
}

.ruleinput.logical {
	width: 20%;
	margin-right:3%;
}
